.img_size {
  width: 100%;
  height: 350px;
}
.tt {
  color: #fff !important;
}
/* Loader.css */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh; /* Full viewport height */
}


.product__image {
  position: relative; 
  display: inline-block;
}
