.breadcrumb-option {
  background: #f3f2ee;
  padding: 40px 0;
}
.breadcrumb__text h4 {
  color: #111111;
  font-weight: 700;
  margin-bottom: 8px;
}
.linktohome {
  font-size: 15px;
  color: #111111;
  margin-right: 18px;
  display: inline-block;
  position: relative;
}
.breadcrumb__links span {
  font-size: 15px;
  color: #b7b7b7;
  display: inline-block;
}

.main-section {
  padding-top: 100px; /* Space for the sticky sidebar and any fixed header */
  padding-bottom: 100px;
  display: flex;
}

/* Ensures that the sidebar is sticky */
.side__shopbar {
  position: sticky;
  top: 0; /* Adjust if you have a fixed header or change this value based on header height */
  
  overflow-y: auto; /* Allows vertical scrolling if content overflows */
  background: #f9f9f9; /* Optional: Adds background color to make sidebar distinct */
  padding: 0 15px; /* Optional: Adds padding to the sidebar */
}

.col-lg-3 {
  padding: 0; /* Removes default padding to ensure the sidebar fits well */
}

.col-lg-9 {
  flex: 1; /* Allows the main content column to take the remaining space */
}

/* Styles for the sorting section */
.sorting {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px; /* Adds some space below the sorting section */
}
.sorted {
  display: flex;
  align-items: center;
}

/* Styles for the boxlow class */
.boxlow {
  margin-bottom: 25px;
}

/* Styles for the price range slider section */
.orice_range {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price_range{
  padding: 15px;
}